<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row" *ngIf="pageType == 'list'">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="mb-0">Employee</h3>
            <button class="btn btn-danger" type="button" (click)="changePage('create')">Add Employee</button>
          </div>
          <div class="form-group mb-0 mt-3" [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search" type="text" (focus)="focus = true"
              (blur)="focus = false" style="color: black;" [(ngModel)]="searchValue" (change)="filterBy()">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Group</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <td>
                  {{ employee.username }}
                </td>
                <td>
                  {{ employee.firstName+' '+employee.lastName }}
                </td>
                <td>
                  {{ employee.email }}
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i>
                    {{ employee.status }}
                  </span>
                </td>
                <td>
                  {{ employee.group }}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                      <a class="dropdown-item" (click)="changePage('detail', employee)">Detail</a>

                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshEmployees()">
            </ngb-pagination>             
            <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshEmployees()">
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="20">20 items per page</option>
              <option [ngValue]="30">30 items per page</option>
              <option [ngValue]="50">50 items per page</option>
              <option [ngValue]="100">100 items per page</option>
            </select>                
        </div>
        <!-- <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row" *ngIf="pageType == 'create'">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="mb-0">Add Employee</h3>
          </div>
          <div class="form-group mt-5">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                [formControl]="username"
                [class.is-invalid]="username.value == '' && isSubmit"
              />
              <div *ngIf="username.value == '' && isSubmit" class="form-text">
                Username is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                [formControl]="firstName"
                [class.is-invalid]="firstName.value == '' && isSubmit"
              />
              <div *ngIf="firstName.value == '' && isSubmit" class="form-text">
                First Name is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                [formControl]="lastName"
                [class.is-invalid]="lastName.value == '' && isSubmit"
              />
              <div *ngIf="lastName.value == '' && isSubmit" class="form-text">
                Last Name is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [formControl]="email"
                [class.is-invalid]="email.value == '' && isSubmit"
              />
              <div *ngIf="email.value == '' && isSubmit" class="form-text">
                Email is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="birthDate" class="form-label">Birth Date</label>
              <!-- <ngb-datepicker [(ngModel)]="birthDate"/> -->
              <input
                type="date"
                class="form-control"
                id="birthDate"
                [formControl]="birthDate"
                [class.is-invalid]="birthDate.value == '' && isSubmit"
              />
              <div *ngIf="birthDate.value == '' && isSubmit" class="form-text">
                Birth Date is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="basicSallary" class="form-label">Basic Sallary</label>
              <input
                type="number"
                class="form-control"
                id="basicSallary"
                [formControl]="basicSallary"
                [class.is-invalid]="basicSallary.value == '' && isSubmit"
              />
              <div *ngIf="basicSallary.value == '' && isSubmit" class="form-text">
                Basic Sallary is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-control" [formControl]="status" [class.is-invalid]="status.value == '' && isSubmit">
                <option value="Inactive">Inactive</option>
                <option value="Active">Active</option>
              </select>
              <div *ngIf="status.value == '' && isSubmit" class="form-text">
                Status is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="group" class="form-label">Group</label>
              <select class="form-control" [formControl]="group" [class.is-invalid]="group.value == '' && isSubmit">
                <option value="Group 1">Group 1</option>
                <option value="Group 2">Group 2</option>
                <option value="Group 3">Group 3</option>
                <option value="Group 4">Group 4</option>
                <option value="Group 5">Group 5</option>
                <option value="Group 6">Group 6</option>
                <option value="Group 7">Group 7</option>
                <option value="Group 8">Group 8</option>
                <option value="Group 9">Group 9</option>
                <option value="Group 10">Group 10</option>
              </select>
              <div *ngIf="group.value == '' && isSubmit" class="form-text">
                Group is required.
              </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button class="btn btn-primary" (click)="submit()">Submit</button>
              <button type="button" class="btn btn-outline-primary" (click)="changePage('list')">
                Back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="pageType == 'detail'">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="mb-0">Detail Employee</h3>
          </div>
          <div class="form-group mt-5">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                [(ngModel)]="employeeDetail.username"
                [class.is-invalid]="username.value == '' && isSubmit"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                [(ngModel)]="employeeDetail.firstName"
                [class.is-invalid]="firstName.value == '' && isSubmit"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                [(ngModel)]="employeeDetail.lastName"
                [class.is-invalid]="lastName.value == '' && isSubmit"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [(ngModel)]="employeeDetail.email"
                [class.is-invalid]="email.value == '' && isSubmit"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="birthDate" class="form-label">Birth Date</label>
              <input
                type="date"
                class="form-control"
                id="birthDate"
                [(ngModel)]="employeeDetail.birthDate"
                [class.is-invalid]="birthDate.value == '' && isSubmit"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="basicSallary" class="form-label">Basic Sallary</label>
              <input
                type="text"
                class="form-control"
                id="basicSallary"
                [(ngModel)]="employeeDetail.basicSallary"
                [class.is-invalid]="basicSallary.value == '' && isSubmit"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-control" [(ngModel)]="employeeDetail.status" [class.is-invalid]="status.value == '' && isSubmit" disabled>
                <option value="Inactive">Inactive</option>
                <option value="Active">Active</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="group" class="form-label">Group</label>
              <select class="form-control" [(ngModel)]="employeeDetail.group" [class.is-invalid]="group.value == '' && isSubmit" disabled>
                <option value="Group 1">Group 1</option>
                <option value="Group 2">Group 2</option>
                <option value="Group 3">Group 3</option>
                <option value="Group 4">Group 4</option>
                <option value="Group 5">Group 5</option>
                <option value="Group 6">Group 6</option>
                <option value="Group 7">Group 7</option>
                <option value="Group 8">Group 8</option>
                <option value="Group 9">Group 9</option>
                <option value="Group 10">Group 10</option>
              </select>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary" (click)="changePage('list')">
                Ok
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
